.leaderboard-title {
    margin: auto; 
    width: 12rem; 
    font-size: 2rem;
    font-weight: bold; 
    text-align: center;  
}

.leaderboard-table {
    width: fit-content;
    margin: auto; 
}

.leaderboard-header {
    background-color: lightgray;  
    display: flex; 
    font-weight: bold; 
    text-align: center; 
    width: fit-content; 
    border: .1rem solid black;
}

.leaderboard-row {
    display: flex;
}

th, td {
    width: 10rem; 
    text-align: center; 
}