<div>
    <p class="leaderboard-title">Leaderboard</p>

    <div class="leaderboard-table">
        <div class="leaderboard-header">
            <div>Username</div>
            <div>Win Count</div>
            <div>Games Played</div>
            <div>Win Rate</div>
        </div>
        <div *ngFor="let user of users" class="leaderboard-row">
            <div>{{user.name}}</div>
            <div>{{user.wins}}</div>
            <div>{{user.gamesPlayed}}</div>
            <div>{{user.wins / user.gamesPlayed}}</div>
        </div>
    </div>
</div>
