<div>
    <p class="leaderboard-title">Leaderboard</p>

    <table class="leaderboard-table">
        <thead>
            <tr class="leaderboard-header">
                <th>Username</th>
                <th>Win Count</th>
                <th>Games Played</th>
                <th>Win Rate</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users" class="leaderboard-row">
                <td>{{user.name}}</td>
                <td>{{user.wins}}</td>
                <td>{{user.gamesPlayed}}</td>
                <td>{{user.wins / user.gamesPlayed}}</td>
            </tr>
        </tbody>
        
    </table>
</div>
