.large-game-contain {
    display: grid;
    grid-template-rows: repeat(3, auto);
    margin: auto;
    width: fit-content;
    height: 33rem; 
}

.large-grid-row {
    display: flex; 
}

.game-contain {
    display: grid;
    grid-template-rows: repeat(3, auto);
    margin: 0.1rem; 
    width: fit-content;
}

.tie {
    border: 0.25rem solid transparent; 
}

.win-p0 {
    border: 0.25rem solid blue; 
}

.win-p1 {
    border: 0.25rem solid red; 
}

.in-play {
    border: 0.25rem solid #90EE90; 
}

.grid-row {
    display: flex; 
}
  
.grid-item {
    background-color: #f0f0f0;
    padding: 20px;
    border: 1px solid #ddd;
    text-align: center;
    width: 1rem; 
    height: 1rem; 
}

.cell-clickable {
    cursor: pointer; 
}