
.game-contain {
    display: grid;
    grid-template-rows: repeat(3, auto);
    margin: auto;
    width: 11rem; 
}

.tie {
    border: none; 
}

.win-p0 {
    border: 0.5rem solid green; 
}

.win-p1 {
    border: 0.5rem solid red; 
}

.grid-row {
    display: flex; 
}
  
.grid-item {
    background-color: #f0f0f0;
    padding: 20px;
    border: 1px solid #ddd;
    text-align: center;
    width: 1rem; 
    height: 1rem; 
}